
<div class="signup">
  <div class="col1">
    <h1>Join us today!</h1>
    <p>Already have an account?<span> Sign in here. </span></p>
    <form class="form" (ngSubmit)="signup()">
    
        <label class="label">Email</label>
        <input class="input"  [(ngModel)]="email" name="email" required>
      
        <label class="label">Username</label>
        <input class="input" [(ngModel)]="username"  name="username" required>
      
        <label class="label">Password</label>
        <input class="input" type="password"   [(ngModel)]="password" name="password" required>
        <button class="button">Sign Up</button>

      </form>
  </div>
  <div class="col2">
    <img src="../../assets/signupjpg">
  </div>
</div>


