.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #8AD4FF;
  color: black;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.logo h1 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 700;
}

.logo img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu a {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  margin: 5px 0;
}

.nav-link i {
  margin-right: 10px;
}
.nav-menu a:hover{
  color: white;
}

.nav-link:hover {
  background-color: #0056b3;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.top-bar h2{
  font-weight: 500;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat {
  background-color: #FFE792;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.add-new {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-new:hover {
  background-color: #303f9f;
}
